
     #header-widget-1673095841612-mobile nav > ul > li > a.website-nav-link {
       padding: 24px;
     }

     #header-widget-1673095841612-mobile  ul li a.website-nav-link {
       font-size: 14px;
       font-family: Poppins;
       color: #3e3e3e;
       text-transform: uppercase;
     }

     #header-widget-1673095841612-mobile .before, 
     #header-widget-1673095841612-mobile .after, 
     #header-widget-1673095841612-mobile .middle {
       background: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .burger-menu-visible .before, 
     #header-widget-1673095841612-mobile .burger-menu-visible .after, 
     #header-widget-1673095841612-mobile .burger-menu-visible .middle {
       background: #3e3e3e;
     }

     #header-widget-1673095841612-mobile nav > ul > li:hover a.website-nav-link,
     #header-widget-1673095841612-mobile nav > ul > li.active a.website-nav-link,
     #header-widget-1673095841612-mobile .overlay nav li:hover > div > ul li a.website-nav-link:hover {
       color: rgba(255, 255, 255, 1);
     }

     #header-widget-1673095841612-mobile .with-background nav > ul > li:hover > a, 
     #header-widget-1673095841612-mobile .with-background nav > ul > li.active > a {
       background-color: rgba(26, 165, 245, 1);
       border-radius: 6px;
     }

     #header-widget-1673095841612-mobile .with-border li:hover:before,
     #header-widget-1673095841612-mobile .with-border li.active:before,
     #header-widget-1673095841612-mobile .border-below li:hover a.website-nav-link:after, 
     #header-widget-1673095841612-mobile .border-below li.active a.website-nav-link:after {
       background: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .border-at-left nav > ul > li.active,
     #header-widget-1673095841612-mobile .border-at-left nav > ul > li:hover {
       border-color: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .border-below nav > ul > li:after.active,
     #header-widget-1673095841612-mobile .border-below nav > ul > li:after:hover {
       background: #3e3e3e;
     }

     #header-widget-1673095841612-mobile nav li:hover > div > ul.with-border {
       border: 1px solid rgba(141, 202, 236, 0.7354838709677419);
       background-color: rgba(234, 248, 255, 1);
     }

     #header-widget-1673095841612-mobile nav li:hover > div > ul,
     #header-widget-1673095841612-mobile nav li.visible > div > ul {
       background-color: rgba(234, 248, 255, 1);
     }

     #header-widget-1673095841612-mobile nav li:hover > div > ul li a.website-nav-link,
     #header-widget-1673095841612-mobile nav li.visible > div > ul li a.website-nav-link {
       color: #3e3e3e;
     }

     #header-widget-1673095841612-mobile nav li:hover > div > ul li a.website-nav-link:hover {
       color: rgba(184, 49, 47, 1);
     }

     #header-widget-1673095841612-mobile .vertical-menu-styling.design-1 nav > ul > li,
     #header-widget-1673095841612-mobile .vertical-menu-styling.design-3 nav > ul > li {
       border-color: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .vertical-menu-styling.border-below.left li:after {
       background-color: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .overlay nav li > div > ul > li > a.website-nav-link {
       color: #3e3e3e;
     }

     #header-widget-1673095841612-mobile .horizontal-menu-styling.with-divider nav > ul > li:after {
       background-color: #CCCCCC;
     }